@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  color: white;
  font-family: 'Inter', sans-serif;
}